.blog-section {
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
  .box {
    background-color: #fff;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    color: coral;
    font-weight: 600;
    min-height: 180px;
    .id {
      color: green;
      font-weight: 700;
    }
    .title {
      font-weight: 700;
    }
    .description {
      color: purple;

      line-height: 20px;
      color: #4b587c;
      margin: 0 0 12px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 400;
      font-size: 13px;
      text-align: left;
    }
    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
